body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("mySelf.jpg");
  min-height: 50%;
  width:10;
}
